
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Menüsü</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>ŞEHİR</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Sümeyye</td>
        <td>Malatya</td>
    </tr>
</table>

